body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #222;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #eee;
}

.logo {
  height: 45px;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #0055aa;
  margin-right: 15px;
  font-weight: 500;
}

.menu a:hover {
  text-decoration: underline;
}

main {
  padding: 40px;
}

h1 {
  color: #111;
}

p {
  line-height: 1.7;
}
